*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    
  }
  img{
    min-width: 100%;
    height: auto;
  }
  .wrapper{
    min-width: 1060px;
    margin: 0 150px;
  }
  .wrapper-full{
  min-width: 1026px;
  margin: 0 130px;
}
  .section-title{
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

  /*HEADER START*/
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__wrapper{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-between;
padding-top: 56px;
  }
  .header__list{
    display: flex;
    flex-wrap: wrap;
  }
  .header__item{
  margin-right: 82px;
  }
  .header__item:last-child{
    margin-right: 0;
  }
  .header__link{
    font-style: 18px;
    line-height: 24px;
    color: white;
  }
  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: 75%;
  }
  /*HEADER END*/

  /*INTRO START*/

.intro{
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title{
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle{
  color: #fff;
  font-style: 16px;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info{
  display: flex;
  font-weight: wrap;
  margin-bottom: 390px;
}

.search-form__field{
  width: 297px;
  background: transparent url(../img/svg/circle-icon.svg) no-repeat left 11px;
  background-size: 15px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form__submit{
  padding: 15px 30px;
  font-weight: 500;
  font-size: 24px;
  background: #102746;
  color: #fff;
  border: 0;
  border-radius: 30px;
  width: 150px;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
  background: #06162b;
}

/*INTRO END*/

/*BENEFITS STYLES START*/

.benefits{
  margin-bottom: 131px;
}

.benefits__wrap{
  max-width: 1260px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 0px #15182429;
  position: relative;
}

.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__title{
  width: 100%;
  font-size: 35px;
  line-height: 42px;
  padding: 90px 100px 90px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__card{
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic{
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb{
  display: block;
}

.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more{
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrovw-right-icon.svg) no-repeat 95% center; 
  transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus{
  background: url(../img/svg/arrovw-right-icon.svg) no-repeat 100% center; 
}

/*BENEFITS STYLES END*/

/*PLACES START*/

.places{
  margin-bottom: 131px;
}

.places__caption{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title{
  margin-right: 15px;
}

.places__viev-all{
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrovw-right-icon.svg) no-repeat 95% center;
  padding-right: 59px;
}

.places__viev-all:hover, .places__viev-all:focus{
  opacity: .65;
}

.places__cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card{
  position: relative;
  overflow: hidden;
}

.places__card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #15182466;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic{
transform: scale(1.05);
}

.places__card-title{
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card_size-lg{
  grid-column: span 3;
}

.places__card_size-sm{
  grid-column: span 2;
}

.places__card-pic{
  width: 100%;
transition: 0.15s all;
}

.places__card-pic_size_lg{
  height: 354px;
  object-fit: cover;
}

.places__card-pic_size_sm{
  height: 283px;
  object-fit: cover;
}

.places__card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*PLACES END*/

/*TOURS STARTS*/

.tours{
  margin-bottom: 139px;
}

.tours__tour{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 0 108px;
align-items: center;
margin-bottom: 77px;
}

.tour__info{
  padding-left: 47px;
}

.tour__title{
font-weight: 500;
font-size: 30px;
line-height: 40px;
margin-bottom: 85px;
}

.tour__desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more{
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrovw-right-icon.svg) no-repeat 95% center;
  padding-right: 59px;
}

.tour__more:hover, .tour__morel:focus{
  opacity: .65;
}

/*TOURS END*/

/*TOP STARTS*/

.top{
  margin-bottom: 86px;
}

.top__title{
margin-bottom: 54px;
}

.top__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card-pic{
  position: relative;
  margin-bottom: 45px;
}

.top__card{
  display: flex;
  flex-direction: column;
}


.top__card-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #15182499;
  padding: 16px 25px;

}

.top__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}

.top__card-likes{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../img/svg/hearth-icon.svg) no-repeat right;
  margin-right: 14px;
}

.top__card-comments{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/svg/comment-icon.svg) no-repeat right;
}

.top__card-desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__card-more{
  width: 118px;
  padding: 12px 19px;
  text-decoration: none;
  background: #102746;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
  background: #06162b;
}
/*TOP END*/